.main {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  box-sizing: border-box;
}

.option {
  border: 0.2rem solid gray;
  padding: 0.2rem;
  background-color: black;
}

.option :hover {
  background-color: gray;
}

.option :active {
  background-color: rgb(255, 255, 255);
}
