.main {
  background-image: url("src/assets/backgrounds/startpage-transformed.jpeg");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  width: 100vw;
  height: 100vh;
  position: relative;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.screen {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column-reverse;
}

.title {
  font-size: 4rem;
  position: absolute;
  top: 10%;
  color: rgb(255, 255, 255);
  background-color: brown;
  border-radius: 2rem;
  border: 3px gray;
  visibility: visible;
}
